<html>

<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src=".././js/layui/layui.js"></script>
<link rel="stylesheet" href=".././js/layui/css/layui.css"/>
<body background="https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1541401231&di=2b1a948007e70a91512b9637592a110e&src=http://img17.3lian.com/d/file/201703/10/af3c23bfb5c55952a1b535c83f293944.jpg">
<fieldset class="layui-elem-field layui-field-newTitle">
</fieldset>

<form class="layui-form" id="form" action="#" method="post">
    <div style="width: 30%;margin: 0 auto">
        <fieldset>
            <fieldset class="layui-elem-field layui-field-newTitle">
            </fieldset>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="userName" lay-verify="required" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">登录名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="loginName" id="loginName" lay-verify="required" class="layui-input"><span style="color: red" id="loginNameTip"></span>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="password" autocomplete="off" id='password'
                               lay-verify="required|pass" class="layui-input" placeholder="请填写6到12位密码">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">确认密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="password" autocomplete="off" id='password1'
                               lay-verify="required|pass|checkPass" class="layui-input" placeholder="请确认密码">
                    </div>
                    <div class="layui-form-mid layui-word-aux" id="pwTip" style="display: none;"><span
                            style='color:red'></span></div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="demo1">注册</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </fieldset>
    </div>
</form>

<script type="text/javascript">
    layui.use('form', function () {
        var form = layui.form
            , layer = layui.layer;
        //自定义验证规则
        form.verify({
            pass: [/(.+){6,12}$/, '密码必须6到12位'],
            checkPass: function (value) {
                var p1 = $("#password").val();
                if (value != p1) {
                    return "两次密码不一致,请重新输入";
                }
            }
        });

        //监听提交
        form.on('submit(demo1)', function (data) {
            $.ajax({
                async: false,
                url: "addUser",
                data: $(data.form).serialize(),
                type: "POST",
                dataType: "json",
                success: function (result) {
                    layer.msg('注册成功', {icon: 1});
                }, error: function (result) {
                    layer.msg(result.responseText, {icon: 5});
                }
            });
            return false;
        });

    });

    $("#loginName").change(function () {
        var loginName =  $("#loginName").val();
        $.ajax({
            async: false,
            url: "validLoginName",
            data: {loginName:loginName},
            type: "POST",
            dataType: "json",
            success: function (result) {
                $("#loginNameTip").html("");
            },error: function (result) {
                $("#loginNameTip").html(result.responseText);
            }
        });
    })
</script>

</body>
</html>
