package ${package}.entity;

import javax.persistence.*;
import javax.persistence.Entity;
import javax.persistence.Table;

import com.daxia.framework.common.entity.WhBaseEntity;

/**
 * ${comments}
 * @author ${author}
 * @date ${datetime}
 */
@Entity
@Table(name = "${tableName}")
@org.hibernate.annotations.Entity(dynamicInsert = true, dynamicUpdate = true)
@Where(clause = "IS_DELETED = 0 ")
@SQLDelete(sql = "UPDATE ${tableName} SET IS_DELETED = 1 WHERE ID = ? AND VERSION = ?")
public class ${className} extends WhBaseEntity{

    /**
    * 主键
    */
    private Long id;

#foreach ($column in $columns)
    /**
     * $column.comments
     */
    private $column.attrType $column.attrname;
#end

    @Id
    @Column(name = "ID")
    @GeneratedValue(strategy = GenerationType.IDENTITY, generator = "autoIdGenerator")
    @GenericGenerator(name = "autoIdGenerator", strategy = "com.daxia.framework.common.dao.AutoIdentityGenerator")
    public Long getId(){
        return id;
    }

    public void setId(Long id){
        this.id=id;
    }

#foreach ($column in $columns)
    @Column(name = "${column.columnName}")
    public $column.attrType get${column.attrName}(){
        return $column.attrname;
    }

    public void set${column.attrName}($column.attrType $column.attrname) {
        this.$column.attrname = $column.attrname;
    }

#end
}
